<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sneaker Shop</title>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sneaker Shop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/images/img/icon.png">
    <!-- Css Styles -->
    <link rel="stylesheet" href="/cssx/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/cssx/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/cssx/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/cssx/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/cssx/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/cssx/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/cssx/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/cssx/style.css" type="text/css">
    <link rel="stylesheet" href="/cssx/scroll.min.css" type="text/css">
    <link rel="stylesheet" href="/cssx/styleNhan.css" type="text/css">

    <style>
      header {
        position: fixed;
        width: 100%;
        z-index: 100;
      }
    </style>
  </head>

<body>
<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3  d-flex align-items-center" >
          <div class="header__top__left">
            <p>Welcome to the shopping experience</p>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" >
          <div style="width: 100%; display: flex; background-color: white; border: 10px;">
            <input  class="form-control" style="border: none; width: 90%;"  placeholder="Nhập văn bản..." type="text">
            <div style="width: 60px; background-color: #f3f2ee; height: 40px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
              <a href=""><img src="/images/img/icon/search.png" alt=""></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 d-flex align-items-center">
          <div>

            <div class="header__top__links"  >
              <a th:href="@{'/buyer/purchase'}">Purchase</a>
            </div>


            <!--        Buyer FullName Begin    -->
            <div class="header__top__hover">
              <span th:text="${fullNameLogin}"><i class="arrow_carrot-down" ></i></span>
              <ul>
                <li><a th:href="@{'/buyer/setting'}" >Setting</a></li>
                <li><a th:href="@{'/buyer/logout'}">Log out</a></li>
              </ul>
            </div>

            <!--            Buyer FullName End -->

            <div class="header__top__links"  >
              <a th:if="${messageLoginOrSignin}" th:href="@{'/buyer/login'}">Login</a>
              <a th:if="${messageLoginOrSignin}" th:href="@{'/buyer/register'}">Register</a>
            </div>

            <div class="header__top__hover">
              <span>EN<i class="arrow_carrot-down"></i></span>
              <ul>
                <li><a href="?language=vi">VI</a></li>
                <li><a href="?language=ge">GE</a></li>
                <li><a href="?language=en">EN</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container" style=" height: 100px">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="header__logo">
          <a th:href="@{'/buyer/home'}" ><img src="/images/img/logo.png" style="width: 150px; height: 50px" alt=""></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <nav class="header__menu mobile-menu">
          <ul>
            <li><a th:href="@{'/buyer/'}" >Home</a></li>
            <li class="active"><a th:href="@{'/buyer/shop'}" >Shop</a></li>
            <li><a th:href="@{'/buyer/about'}">About Us</a></li>
            <li><a th:href="@{'/buyer/blog'}">Blog</a>
              <ul class="dropdown">
                <li><a th:href="@{'/buyer/blog/blog-details'}">Blog Details</a></li>
              </ul>
            </li>
            <li><a th:href="@{'/buyer/contact'}">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="header__nav__option" style="display: flex;justify-content: end;">


          <div class="nav user-menu" style="height: 30px;">

            <li class="nav-item dropdown" style="height: 30px;">
              <a data-bs-toggle="dropdown" href="#" >
                <img style="margin-bottom: 42px; width: 18px; height: 18px;"   src="/images/img/icon/notification.png" >
              </a>
              <span style="position: absolute; height:20px; width: 25px; top: -13px; left: 7px;  color: rgb(0, 0, 0) ; font-size: 12px; font-weight: bold;  padding: 4px; border-radius: 50%;" th:text="${sumProductInCart}"></span>
              <div class="dropdown-menu notifications" style="z-index: 222;width:300px; top: -80px; position: absolute; ">
                <div class="topnav-dropdown-header">
                  <span class="notification-title">Notifications</span>
                  <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                </div>
                <div class="vertical-scroll scroll-demo" >
                  <a href="#" class="items-noticafitions">
                    <div class="items-notica">
                                        <span class="avatar">
                                            <img alt="" src="/images/img/blog/blog-1.jpg">
                                        </span>
                      <div class="text-notica">
                        <span class="notica-title">Phạm Hữu Nhân </span>
                        <p class="notica-times">1 phút trước</p>
                        <input checkedS class="notica-read" type="radio" name="" id="">
                      </div>
                      <p class="notica-status">deliever oder</p>
                      <div class="text-contents">
                        <p class="notica-contents" >Tôi trước : Em muốn dừng lại để học 12 giờ em không muốn yêu và đùng sau đó 2 tháng set hẹn hò trên fb</p>
                      </div>


                    </div>
                  </a>
                  <a href="#" class="items-noticafitions">
                    <div class="items-notica">
                                        <span class="avatar">
                                            <img alt="" src="/images/img/blog/blog-1.jpg">
                                        </span>
                      <div class="text-notica">
                        <span class="notica-title">Phạm Hữu Nhân </span>
                        <p class="notica-times">10 phút trước</p>
                        <input class="notica-read" type="radio" name="" id="" checked>
                      </div>
                      <p class="notica-status">deliever oder</p>
                      <div class="text-contents">
                        <p class="notica-contents" >Tôi trước : Em muốn dừng lại để học 12 giờ em không muốn yêu và đùng sau đó 2 tháng set hẹn hò trên fb</p>
                      </div>


                    </div>
                  </a>
                  <a href="#" class="items-noticafitions">
                    <div class="items-notica">
                                        <span class="avatar">
                                            <img alt="" src="/images/img/blog/blog-1.jpg">
                                        </span>
                      <div class="text-notica">
                        <span class="notica-title">Phạm Hữu Nhân </span>
                        <p class="notica-times">15 phút trước</p>
                        <!-- <input class="notica-read" type="radio" checked name="" id=""> -->
                      </div>
                      <p class="notica-status">deliever oder</p>
                      <div class="text-contents">
                        <p class="notica-contents" >Vui long xac nhan don hang</p>
                      </div>


                    </div>
                  </a>
                  <a href="#" class="items-noticafitions">
                    <div class="items-notica">
                                        <span class="avatar">
                                            <img alt="" src="/images/img/blog/blog-1.jpg">
                                        </span>
                      <div class="text-notica">
                        <span class="notica-title">Phạm Hữu Nhân </span>
                        <p class="notica-times">10 phút trước</p>

                      </div>
                      <input class="notica-read" type="radio" name="" id="">
                      <p class="notica-status">deliever oder</p>
                      <div class="text-contents">
                        <p class="notica-contents" >Don hang cua ban dang duoc giao
                        </p>
                      </div>


                    </div>
                  </a>
                  <a href="#" class="items-noticafitions">
                    <div class="items-notica">
                                        <span class="avatar">
                                            <img alt="" src="/images/img/blog/blog-1.jpg">
                                        </span>
                      <div class="text-notica">
                        <span class="notica-title">Phạm Hữu Nhân </span>
                        <p class="notica-times">10 phút trước</p>
                        <input class="notica-read" type="radio" name="" id="">
                      </div>
                      <p class="notica-status">deliever oder</p>
                      <div class="text-contents">
                        <p class="notica-contents" >Tôi trước : Em muốn dừng lại để học 12 giờ em không muốn yêu và đùng sau đó 2 tháng set hẹn hò trên fb</p>
                      </div>


                    </div>
                  </a>
                </div>
                <div class="topnav-dropdown-footer">
                  <a href="activities.html">View all Notifications</a>
                </div>
              </div>

            </li>
          </div>
          <a th:href="@{'/buyer/fa&recently'}"><img src="/images/img/icon/heart2.png" alt=""></a>

          <a th:href="@{'/buyer/cart'}" style="position: relative; display: inline-block; ">
            <img src="/images/img/icon/cart.png" alt="">
            <span class="cart-count" style="position: absolute; height:20px; width: 25px; top: -13px; left: 3px;  color: rgb(0, 0, 0) ; font-size: 12px; font-weight: bold;  padding: 4px; border-radius: 50%;" th:text="${sumProductInCart}"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>
</header>
<!-- Header Section End -->
<section>
  <div style="height: 150px; width: 100%;"></div>
</section>


<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad" style="margin-top: -80px">
  <div class="container">
    <form action="/buyer/cart/checkout" method="post" id="purchaseForm">
      <div style="z-index: 100; width: 1170px;  position: fixed;margin-bottom: 50px">
        <div class="row" style="background-color: #f3f2ee; height: 80px; width: 1170px;  ">
          <div class="col-lg-8">
            <p style="margin: 20px 0 5px 50px;"> <input style="margin-right: 10px;" type="checkbox" name="" id="checkAll" th:text="'Select All ( ' +${sumProductInCart} +' items )'"></p>
            <a style="margin: 10px 0 0 50px; color: red;" href="">Delete</a>

          </div>
          <div class="col-lg-2">

            <h5 style=" margin: 20px 0 5px 0;">Total (? items) : </h5>
            <p>Saved</p>
          </div>
          <div class="col-lg-2">
            <h5 style=" margin: 20px 0 5px 0;"> 800 $</h5>
            <p>-200$</p>
          </div>
        </div>

        <div class="row" style="background-color: #f3f2ee; height: 50px;width: 1170px; ">
          <div class="col-lg-8">
            <a style="margin:10px 0 0 50px;" href="">Remove inactive products</a>
          </div>
          <div class="col-lg-4">
            <button style="width: 300px; height: 35px; border: 0.5px solid rgb(61, 61, 61);" type="submit" onclick="return validatePurchase()">Check out</button>
          </div>
        </div>
      </div>

      <div style="height: 160px; width: 100%;"></div>
    <div class="row">
        <div class="col-lg-12">

          <div class="shopping__cart__table">
            <table>
              <thead>
              <tr>
                <th>x</th>
                <th style="width: 400px;">Product</th>
                <th style="width: 175px;">Variations</th>
                <th style="width: 175px;">Quantity</th>
                <th style="width: 140px;">Total</th>
                <th class="cart__close">Actions</th>
              </tr>
              </thead>
            </table>
          </div>

          <div class="shopping__cart__table">
<!--            <div class="vertical-scroll scroll-demo"  style="height: 400px;" >-->
              <table style="height:250px;">
                <tbody>

                <th:block th:each="x : ${listCartDetail}">

                  <tr id="productId" th:value="${x.chiTietGiay.idCTG}">

                    <td><input class="itemsCart" name="selectedProducts" type="checkbox" onclick="updateTotalAmount(this)" th:value="${x.chiTietGiay.idCTG}"></td>
                    <td style="width: 400px;" class="product__cart__item" >
                      <div class="product__cart__item__pic">
                        <a th:href="@{'/buyer/shop-details/' + ${x.chiTietGiay.giay.idGiay} + '/' +  ${x.chiTietGiay.mauSac.idMau}}"> <img style="width:90px; height:90px;" th:src="@{'/images/imgsProducts/' + ${x.chiTietGiay.hinhAnh.url1}}"></a>
                      </div>
                      <div class="product__cart__item__text">
                        <a th:href="@{'/buyer/shop-details/' + ${x.chiTietGiay.giay.idGiay} + '/' +  ${x.chiTietGiay.mauSac.idMau}}">
                          <h6 style="margin-top: -22px;" th:text="${x.chiTietGiay.giay.tenGiay}"></h6>
                        </a>
                        <h5 class="cart__price" th:text="${x.chiTietGiay.giaBan} + ' $'"></h5>
                        <h5 style="color: #b7b7b7; font-size: 15px; font-weight: 400; text-decoration: line-through;">220.0 $</h5>
                      </div>

                    </td>
                    <td style="width: 175px;"  class="quantity__item">
                      <div  style="margin-top: -20px; display: block;">
                        <span id="showButton" style="font-weight: normal; font-size: medium;">Options :</span>
                        <a th:href="@{/cart/${x.chiTietGiay.giay.idGiay}}" type="button" data-toggle="modal" data-target="#exampleModalCenter"> <img style="height: 10px; width: 10px;" src="/images/img/icon/dropdown.png" alt=""> </a>
                      </div>
                      <div style="padding-right: 20px;">
                        <span style="font-size: 10pt; font-weight: 500; color: rgba(0,0,0,.54);" th:text="'Colors : ' + ${x.chiTietGiay.mauSac.tenMau}"></span>
                        <span style="font-size: 10pt; font-weight: 500; color: rgba(0,0,0,.54);" th:text="'Size : ' + ${x.chiTietGiay.size.soSize}" ></span>
                      </div>
                    </td>
                    <td style="width: 175px;"  class="quantity__item">
                      <div class="quantity">

                        <input style=" margin-top: 3px;border: none; font-weight: 700; font-size: 18pt; background-color: white;"
                                type="button" value="-" class="button-minus dec button"
                                onclick="decrementQuantity(this)">

                        <input  class="quantityInput" oninput="updateTotalAmount(this)" th:value="${x.soLuong}" style="width: 30px; text-align: center; border: none;" type="text" name="child" value="0">

                        <input style="border: none; font-weight: 700; font-size: 14pt; background-color: white;"
                                type="button" value="+" class="button-plus inc button a3 a5 a1 a-1"
                                onclick="incrementQuantity(this)">

                      </div>
                    </td>
                    <td style="width: 140px;" class="cart__price totalAmount" th:text="'$ ' + ${x.chiTietGiay.giaBan * x.soLuong}"></td>
                    <td class="cart__close"><a th:href="@{'/buyer/cart/delete/' + ${x.chiTietGiay.idCTG}}" id="deleteToCartButton" style="border-radius: 20% ; " ><i class="fa fa-close"></i></a></td>

                  </tr>

                </th:block>

                </tbody>
              </table>
<!--            </div>-->
          </div>

        </div>


      </div>
    </form>

  </div>

  <div class="row" style="align-items: center; margin-top: 30px;">
    <div style="height: 0.7px; width: 90%; background-color: #707070; margin-left: 5%;"></div>
  </div>

</section>
<!-- Shopping Cart Section End -->


<!-- Related Section Begin -->
<section style="margin-top: -140px;" class="related spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="related-title">Related Product</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg" data-setbg="/images/imgsProducts/product-1.1.png">
            <span class="label">New</span>
            <ul class="product__hover">
              <li><a href="#"><img src="/images/img/icon/heart.png" alt=""></a></li>
              <li><a href="#"><img src="/images/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
              <li><a href="#"><img src="/images/img/icon/search.png" alt=""></a></li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Piqué Biker Jacket</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-1">
                <input type="radio" id="pc-1">
              </label>
              <label class="active black" for="pc-2">
                <input type="radio" id="pc-2">
              </label>
              <label class="grey" for="pc-3">
                <input type="radio" id="pc-3">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg" data-setbg="/images/imgsProducts/product-1.1.png">
            <span class="label">New</span>
            <ul class="product__hover">
              <li><a href="#"><img src="/images/img/icon/heart.png" alt=""></a></li>
              <li><a href="#"><img src="/images/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
              <li><a href="#"><img src="/images/img/icon/search.png" alt=""></a></li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Piqué Biker Jacket</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-1">
                <input type="radio" id="pc-1">
              </label>
              <label class="active black" for="pc-2">
                <input type="radio" id="pc-2">
              </label>
              <label class="grey" for="pc-3">
                <input type="radio" id="pc-3">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg" data-setbg="/images/imgsProducts/product-1.1.png">
            <span class="label">New</span>
            <ul class="product__hover">
              <li><a href="#"><img src="/images/img/icon/heart.png" alt=""></a></li>
              <li><a href="#"><img src="/images/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
              <li><a href="#"><img src="/images/img/icon/search.png" alt=""></a></li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Piqué Biker Jacket</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-1">
                <input type="radio" id="pc-1">
              </label>
              <label class="active black" for="pc-2">
                <input type="radio" id="pc-2">
              </label>
              <label class="grey" for="pc-3">
                <input type="radio" id="pc-3">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg" data-setbg="/images/imgsProducts/product-1.1.png">
            <span class="label">New</span>
            <ul class="product__hover">
              <li><a href="#"><img src="/images/img/icon/heart.png" alt=""></a></li>
              <li><a href="#"><img src="/images/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
              <li><a href="#"><img src="/images/img/icon/search.png" alt=""></a></li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Piqué Biker Jacket</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-1">
                <input type="radio" id="pc-1">
              </label>
              <label class="active black" for="pc-2">
                <input type="radio" id="pc-2">
              </label>
              <label class="grey" for="pc-3">
                <input type="radio" id="pc-3">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg" data-setbg="/images/imgsProducts/product-1.1.png">
            <span class="label">New</span>
            <ul class="product__hover">
              <li><a href="#"><img src="/images/img/icon/heart.png" alt=""></a></li>
              <li><a href="#"><img src="/images/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
              <li><a href="#"><img src="/images/img/icon/search.png" alt=""></a></li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Piqué Biker Jacket</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-1">
                <input type="radio" id="pc-1">
              </label>
              <label class="active black" for="pc-2">
                <input type="radio" id="pc-2">
              </label>
              <label class="grey" for="pc-3">
                <input type="radio" id="pc-3">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg" data-setbg="/images/imgsProducts/product-1.1.png">
            <span class="label">New</span>
            <ul class="product__hover">
              <li><a href="#"><img src="/images/img/icon/heart.png" alt=""></a></li>
              <li><a href="#"><img src="/images/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
              <li><a href="#"><img src="/images/img/icon/search.png" alt=""></a></li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Piqué Biker Jacket</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-1">
                <input type="radio" id="pc-1">
              </label>
              <label class="active black" for="pc-2">
                <input type="radio" id="pc-2">
              </label>
              <label class="grey" for="pc-3">
                <input type="radio" id="pc-3">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg" data-setbg="/images/imgsProducts/product-1.1.png">
            <span class="label">New</span>
            <ul class="product__hover">
              <li><a href="#"><img src="/images/img/icon/heart.png" alt=""></a></li>
              <li><a href="#"><img src="/images/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
              <li><a href="#"><img src="/images/img/icon/search.png" alt=""></a></li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Piqué Biker Jacket</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-1">
                <input type="radio" id="pc-1">
              </label>
              <label class="active black" for="pc-2">
                <input type="radio" id="pc-2">
              </label>
              <label class="grey" for="pc-3">
                <input type="radio" id="pc-3">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg" data-setbg="/images/imgsProducts/product-1.1.png">
            <span class="label">New</span>
            <ul class="product__hover">
              <li><a href="#"><img src="/images/img/icon/heart.png" alt=""></a></li>
              <li><a href="#"><img src="/images/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
              <li><a href="#"><img src="/images/img/icon/search.png" alt=""></a></li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Piqué Biker Jacket</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-1">
                <input type="radio" id="pc-1">
              </label>
              <label class="active black" for="pc-2">
                <input type="radio" id="pc-2">
              </label>
              <label class="grey" for="pc-3">
                <input type="radio" id="pc-3">
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Related Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__logo">
            <a href="#"><img src="/images/img/footer-logo.png" alt=""></a>
          </div>
          <p>The customer is at the heart of our unique business model, which includes design.</p>
          <a href="#"><img src="/images/img/payment.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
        <div class="footer__widget">
          <h6>Shopping</h6>
          <ul>
            <li><a href="#">Clothing Store</a></li>
            <li><a href="#">Trending Shoes</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Sale</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="footer__widget">
          <h6>Shopping</h6>
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Payment Methods</a></li>
            <li><a href="#">Delivary</a></li>
            <li><a href="#">Return & Exchanges</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
        <div class="footer__widget">
          <h6>NewLetter</h6>
          <div class="footer__newslatter">
            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
            <form action="#">
              <input type="text" placeholder="Your email">
              <button type="submit"><span class="icon_mail_alt"></span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="footer__copyright__text">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          <p>Copyright ©
            <script>
              document.write(new Date().getFullYear());
            </script>2020
            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          </p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<!-- Search End -->

<section>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Big Ball Chunky A Gradient Classic Monogram</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="radio-input">
            <div style="margin: 5px 0 5px 0;"></div>

            <label style=" margin: 5px; font-weight: unset; font-size: small; height: 40px;" >
              <a class="link" >
                <input type="radio" name="value-radio2nhan" >
                <span > Dark Green</span>
              </a>
            </label>
            <label style=" margin: 5px; font-weight: unset; font-size: small; height: 40px;" >
              <a class="link" >
                <input type="radio" name="value-radio2nhan" >
                <span > Dark Green</span>
              </a>
            </label>
          </div>
          <div style="width: 465px; margin-top: 10px; margin-bottom: 10px; height: 1px; background: rgba(0,0,0,.54);"></div>
          <div>
            <div style="margin-bottom: 10px;">
              <span style="margin-left: 85px; ">  <img src="/images/img/icon/mail.png" style="height: 15px; width: 20px; margin-bottom: 2px; margin-right: 10px;" alt=""> Receive notification when in stock?</span>
            </div>
            <div  class="radio-input">
              <label style=" margin: 5px; font-weight: unset; font-size: small; height: 40px;" >
                <a class="link" >
                  <input type="" name="value-radio" >
                  <span > 36</span>
                </a>
                <a href="##" class="receiveMail">
                  <img src="/images/img/icon/mail.png" style="height: 15px; width: 20px; margin-bottom: 2px;" alt="">
                </a>
              </label>
              <label style=" margin: 5px; font-weight: unset; font-size: small; height: 40px;" >
                <a class="link" >
                  <input type="radio" name="value-radio" >
                  <span > 37</span>
                </a>
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>




</section>


<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/feather.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<!--<script src="/js/script.js"></script>-->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/scrollbar.min.js"></script>
<script src="/js/custom-scroll.js"></script>


<!--Selected product check begin -->

<script>
  function validatePurchase() {
    var form = document.getElementById('purchaseForm');
    var checkboxes = form.querySelectorAll('input[type="checkbox"]');
    var atLeastOneChecked = false;

    checkboxes.forEach(function (checkbox) {
      if (checkbox.checked) {
        atLeastOneChecked = true;
        return;
      }
    });

    if (!atLeastOneChecked) {
      alert("Vui lòng chọn ít nhất một sản phẩm để mua.");
      return false;
    }

    return true;
  }
</script>

<script>
  function updateTotalAmount(inputElement) {
    var row = inputElement.closest('tr');
    var priceElement = row.querySelector('.cart__price');
    var quantityInput = row.querySelector('.quantityInput');
    var totalAmountElement = row.querySelector('.totalAmount');

    var price = parseFloat(priceElement.textContent.replace('$', '').trim());
    var quantity = parseInt(quantityInput.value);

    var totalAmount = price * quantity;
    totalAmountElement.textContent = '$ ' + totalAmount.toFixed(2);
  }

  // Hàm tăng số lượng
  function incrementQuantity(inputElement) {
    var quantityInput = inputElement.closest('tr').querySelector('.quantityInput');
    var quantity = parseInt(quantityInput.value);
    quantityInput.value = quantity + 1;

    var row = inputElement.closest('tr');
    var priceElement = row.querySelector('.cart__price');
    var totalAmountElement = row.querySelector('.totalAmount');

    var price = parseFloat(priceElement.textContent.replace('$', '').trim());
    var quantityv = parseInt(quantityInput.value);

    var totalAmount = price * quantityv;
    totalAmountElement.textContent = '$ ' + totalAmount.toFixed(2);
  }
  // Hàm giảm số lượng
  function decrementQuantity(inputElement) {
    var row = inputElement.closest('tr');
    var quantityInput = row.querySelector('.quantityInput');
    var totalAmountElement = row.querySelector('.totalAmount');

    var quantity = parseInt(quantityInput.value);
    if (quantity > 0) {
      quantityInput.value = quantity - 1;

      var priceElement = row.querySelector('.cart__price');
      var price = parseFloat(priceElement.textContent.replace('$', '').trim());

      var totalAmount = price * (quantity - 1);
      totalAmountElement.textContent = '$ ' + totalAmount.toFixed(2);
    }

  }

</script>
<!--Selected product check end -->



<script>
  // Biến để lưu tổng tiền ban đầu
  var initialTotalAmount = 0;

  // Hàm cập nhật tổng tiền
  function updateTotalAmount(input) {
    var totalAmount = 0;
    $(".itemsCart:checked").each(function () {
      var priceProduct = parseFloat($(this).closest("tr").find(".cart__price").text().replace('$', '').trim());
      var quantity = parseInt($(this).closest("tr").find(".quantityInput").val());
      totalAmount += priceProduct * quantity;
    });

    // Nếu chọn tất cả, sử dụng giá trị ban đầu
    if (document.getElementById('checkAll').checked) {
      totalAmount = initialTotalAmount;
    }

    $("#grandTotal").text(totalAmount.toFixed(2));

    // Thay đổi tổng tiền của sản phẩm được chọn
    var priceProduct = parseFloat($(input).closest("tr").find(".cart__price").text().replace('$', '').trim());
    var quantity = parseInt($(input).closest("tr").find(".quantityInput").val());
    var totalAmountElement = $(input).closest("tr").find(".totalAmount");
    var totalAmount = quantity * priceProduct;
    totalAmountElement.text(totalAmount + " $");
  }

  function incrementQuantity(input) {
    var quantityInput = $(input).siblings(".quantityInput");
    var quantity = parseInt(quantityInput.val());
    quantityInput.val(quantity + 1);
    updateTotalAmount();
  }

  // Hàm giảm số lượng
  function decrementQuantity(input) {
    var quantityInput = $(input).siblings(".quantityInput");
    var quantity = parseInt(quantityInput.val());
    if (quantity > 0) {
      quantityInput.val(quantity - 1);
      updateTotalAmount();
    }
  }

</script>

<script>
  var checkboxes = document.querySelectorAll('.itemsCart');
  var chonTatCa = document.getElementById('checkAll');

  chonTatCa.addEventListener('change', function() {
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = chonTatCa.checked;
    }

    // Lưu tổng tiền ban đầu khi chọn tất cả
    if (chonTatCa.checked) {
      initialTotalAmount = parseFloat($("#grandTotal").text());
    }
  });

  checkboxes.forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
      chonTatCa.checked = Array.from(checkboxes).every(function(cb) {
        return cb.checked;
      });
    });
  });
</script>

</body>

</html>