<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sneaker Shop</title>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Male_Fashion Template">
        <meta name="keywords" content="Male_Fashion, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sneaker Shop</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
              rel="stylesheet">
        <link rel="icon" href="/images/img/logo-favicon.png" type="image/x-icon">

        <!-- Css Styles -->
        <link rel="stylesheet" href="/cssx/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="/cssx/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="/cssx/nice-select.css" type="text/css">
        <link rel="stylesheet" href="/cssx/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/style.css" type="text/css">
        <link rel="stylesheet" href="/cssx/scroll.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/styleNhan.css" type="text/css">

        <style>
            header {
                position: fixed;
                width: 100%;
                z-index: 100;
            }
        </style>
    </head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section BegiAccount  -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3  d-flex align-items-center" >
                    <div class="header__top__left">
                        <p>Welcome to the shopping experience</p>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center" >
                    <div style="width: 100%; display: flex; background-color: white; border: 10px;">
                        <input  class="form-control" style="border: none; width: 90%;"  placeholder="Nhập văn bản..." type="text">
                        <div style="width: 60px; background-color: #f3f2ee; height: 40px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                            <a href=""><img src="/images/img/icon/search.png" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 d-flex align-items-center">
                    <div>

                        <div class="header__top__links"  >
                            <a th:href="@{'/buyer/purchase'}">Purchase</a>
                        </div>


                        <!--        Buyer FullName Begin    -->
                        <div class="header__top__hover">
                            <span th:text="${fullNameLogin}"><i class="arrow_carrot-down" ></i></span>
                            <ul>
                                <li><a th:href="@{'/buyer/purchase'}" >Purchase</a></li>
                                <li><a th:href="@{'/buyer/setting'}" >Setting</a></li>
                                <li><a th:href="@{'/buyer/logout'}">Log out</a></li>
                            </ul>
                        </div>

                        <!--            Buyer FullName End -->
                        <div class="header__top__links"  >  </div>


                        <div class="header__top__hover">
                            <span>EN<i class="arrow_carrot-down"></i></span>
                            <ul>
                                <li><a href="?language=vi">VI</a></li>
                                <li><a href="?language=ge">GE</a></li>
                                <li><a href="?language=en">EN</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container"  style=" height: 100px">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a th:href="@{'/buyer/home'}" ><img src="/images/img/logo.png" style="width: 150px; height: 50px" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a th:href="@{'/buyer/'}" >Home</a></li>
                        <li><a th:href="@{'/buyer/shop'}" >Shop</a></li>
                        <li><a th:href="@{'/buyer/about'}">About Us</a></li>
                        <li><a th:href="@{'/buyer/blog'}">Blog</a>
                            <ul class="dropdown">
                                <li><a th:href="@{'/buyer/blog/blog-details'}">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{'/buyer/contact'}">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option" style="display: flex;justify-content: end;">


                    <div class="nav user-menu" style="height: 30px;">

                        <li class="nav-item dropdown" style="height: 30px;">
                            <a data-bs-toggle="dropdown" href="#" >
                                <img style="margin-bottom: 42px; width: 18px; height: 18px;"   src="/images/img/icon/notification.png" >
                            </a>
                            <span style="position: absolute; height:20px; width: 25px; top: -13px; left: 7px;  color: rgb(0, 0, 0) ; font-size: 12px; font-weight: bold;  padding: 4px; border-radius: 50%;" th:text="${sumProductInCart}"></span>
                            <div class="dropdown-menu notifications" style="width:300px; top: -80px; position: absolute;">
                                <div class="topnav-dropdown-header">
                                    <span class="notification-title">Notifications</span>
                                    <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                                </div>
                                <div class="vertical-scroll scroll-demo" >



                                    <a href="#" class="items-noticafitions">
                                        <div class="items-notica">
                                        <span class="avatar">
                                            <img alt="" src="/images/img/blog/blog-1.jpg">
                                        </span>
                                            <div class="text-notica">
                                                <span class="notica-title">Phạm Hữu Nhân </span>
                                                <p class="notica-times">1 phút trước</p>
                                                <input checkedS class="notica-read" type="radio" name="" id="">
                                            </div>
                                            <p class="notica-status">deliever oder</p>
                                            <div class="text-contents">
                                                <p class="notica-contents" >Tôi trước : Em muốn dừng lại để học 12 giờ em không muốn yêu và đùng sau đó 2 tháng set hẹn hò trên fb</p>
                                            </div>


                                        </div>
                                    </a>

                                    <a href="#" class="items-noticafitions">
                                        <div class="items-notica">
                                        <span class="avatar">
                                            <img alt="" src="/images/img/blog/blog-1.jpg">
                                        </span>
                                            <div class="text-notica">
                                                <span class="notica-title">Phạm Hữu Nhân </span>
                                                <p class="notica-times">10 phút trước</p>
                                                <input class="notica-read" type="radio" name="" id="" checked>
                                            </div>
                                            <p class="notica-status">deliever oder</p>
                                            <div class="text-contents">
                                                <p class="notica-contents" >Tôi trước : Em muốn dừng lại để học 12 giờ em không muốn yêu và đùng sau đó 2 tháng set hẹn hò trên fb</p>
                                            </div>


                                        </div>
                                    </a>


                                    <a href="#" class="items-noticafitions">
                                        <div class="items-notica">
                                        <span class="avatar">
                                            <img alt="" src="/images/img/blog/blog-1.jpg">
                                        </span>
                                            <div class="text-notica">
                                                <span class="notica-title">Phạm Hữu Nhân </span>
                                                <p class="notica-times">15 phút trước</p>
                                                <!-- <input class="notica-read" type="radio" checked name="" id=""> -->
                                            </div>
                                            <p class="notica-status">deliever oder</p>
                                            <div class="text-contents">
                                                <p class="notica-contents" >Vui long xac nhan don hang</p>
                                            </div>


                                        </div>
                                    </a>

                                    <a href="#" class="items-noticafitions">
                                        <div class="items-notica">
                                        <span class="avatar">
                                            <img alt="" src="/images/img/blog/blog-1.jpg">
                                        </span>
                                            <div class="text-notica">
                                                <span class="notica-title">Phạm Hữu Nhân </span>
                                                <p class="notica-times">10 phút trước</p>

                                            </div>
                                            <input class="notica-read" type="radio" name="" id="">
                                            <p class="notica-status">deliever oder</p>
                                            <div class="text-contents">
                                                <p class="notica-contents" >Don hang cua ban dang duoc giao
                                                </p>
                                            </div>


                                        </div>
                                    </a>

                                    <a href="#" class="items-noticafitions">
                                        <div class="items-notica">
                                        <span class="avatar">
                                            <img alt="" src="/images/img/blog/blog-1.jpg">
                                        </span>
                                            <div class="text-notica">
                                                <span class="notica-title">Phạm Hữu Nhân </span>
                                                <p class="notica-times">10 phút trước</p>
                                                <input class="notica-read" type="radio" name="" id="">
                                            </div>
                                            <p class="notica-status">deliever oder</p>
                                            <div class="text-contents">
                                                <p class="notica-contents" >Tôi trước : Em muốn dừng lại để học 12 giờ em không muốn yêu và đùng sau đó 2 tháng set hẹn hò trên fb</p>
                                            </div>


                                        </div>
                                    </a>




                                </div>
                                <div class="topnav-dropdown-footer">
                                    <a href="activities.html">View all Notifications</a>
                                </div>
                            </div>

                        </li>
                    </div>
                    <a th:href="@{'/buyer/fa&recently'}"><img src="/images/img/icon/heart2.png" alt=""></a>

                    <a th:href="@{'/buyer/cart'}" style="position: relative; display: inline-block; ">
                        <img src="/images/img/icon/cart.png" alt="">
                        <span class="cart-count" style="position: absolute; height:20px; width: 25px; top: -13px; left: 3px;  color: rgb(0, 0, 0) ; font-size: 12px; font-weight: bold;  padding: 4px; border-radius: 50%;" th:text="${sumProductInCart}"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->

<section>
    <div style="height: 150px; width: 100%;"></div>
</section>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a th:href="@{'/buyer/home'}" >Home</a>
                        <span>Setting Profile</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad" style="margin-top: -70px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar__search">
                    <form action="#">
                        <input type="text" placeholder="Search...">
                        <button type="submit"><span class="icon_search"></span></button>
                    </form>
                </div>
                <div class="shop__sidebar__accordion">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseOne">My Account</a>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="shop__sidebar__categories">
                                        <ul class="nice-scroll" style="height: 20%">
                                            <li><a href="/buyer/setting">My profile</a></li>
                                            <li><a href="/buyer/addresses">Addresses</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a href="/buyer/purchase">My Purchases</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a href="/buyer/notification">Notifications</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a href="/buyer/voucher">My Vouchers</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a href="/buyer/coins">My Coins</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">

<!--                Setting Account Begin-->
                <div th:if="${pagesettingAccount}" class="card">
                    <div class="card-body" >

                        <div class="row" style="background-color: #f3f2ee; height: 100px; width: 803px; margin-left: 2px;  border-radius: 5px;">
                            <img src="/images/imgRanks/Gold.png" alt="" style="margin-left: 700px; width: 50px; height: 50xp;">
                            <img src="/images/imgsKhachHang/Avatar/CEO.jpg" alt="" style="height: 110px; width: 110px; border-radius: 50% ; margin-left: 10px; margin-top: 0px;">

                            <h4 style="margin-top: 60px; margin-left: 70px;">Pham Huu Nhan</h4>
                            <p style=" margin-left: 230px; margin-top: 20px;">Thanh vien tu 19/09/2003</p>

                        </div>

                        <div class="row" style="  width: 803px; margin-left: 2px; border-radius: 5px; margin-top: 40px;">

                            <div class="form-group" style="margin-left: 50px; margin-top: 50px; width: 300px;">
                                <label>Fullname</label>
                                <br>
                                <input class="form-control" type="text" placeholder="Nhan Pham">
                            </div>
                            <div class="form-group" style="margin-left: 50px; margin-top: 50px; width: 300px;">
                                <label>Gender</label>
                                <br>
                                <input type="text" class="form-control" placeholder="Male">
                            </div>
                            <br>
                            <div class="form-group" style="margin-left: 50px; margin-top: 10px;  width: 300px;">
                                <label>Date of birth :</label>
                                <br>
                                <input type="date" class="form-control">
                            </div>
                            <div class="form-group" style="margin-left: 50px; margin-top: 10px; width: 300px;">
                                <label>ID CCCD :</label>
                                <br>
                                <input type="text" placeholder="038203023900" class="form-control">
                            </div>
                            <br>
                            <div class="form-group" style="margin-left: 50px; margin-top: 10px;  width: 300px;">
                                <label>Email :</label>
                                <br>
                                <input placeholder="nhan@gmail.com" type="text" class="form-control">
                            </div>
                            <div class="form-group" style="margin-left: 50px; margin-top: 10px;  width: 300px;">
                                <label>Phone :</label>
                                <br>
                                <input type="text" class="form-control" placeholder="+8438 432 9003">
                            </div>
                            <br>

                        </div>
                        <div class="row" style="  width: 803px; margin-left: 2px; border-radius: 5px; margin-top: 20px;">
                            <button class="btn btn-success" style="height: 50px; width: 100px;">Submit</button>
                            <p style="margin-left: 300px;margin-top: 12px;">Choose CCCD:</p>
                            <input type ="file" class="btn btn-success" style="height: 50px; width: 250px; margin-left: 20px;">
                        </div>
                        <div class="row" style="height: 1px; width: 100%; background-color: black; margin: 30px 0 10px 7px;"></div>

                        <h5 style="margin-top: 20px; font-weight: 100; ">Change Password</h5>
                        <div class="row" style=" width: 803px; margin-left: 2px; border-radius: 5px; margin-top: 20px;">
                            <div class="form-group" style="margin-left: 50px; margin-top: 10px;  width: 300px;">
                                <label>Old Password :</label>
                                <br>
                                <input type="password" class="form-control">
                            </div>
                            <div class="form-group" style="margin-left: 50px; margin-top: 10px;  width: 300px;">
                                <label>New Password :</label>
                                <br>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group" style="margin-left: 50px; margin-top: 10px;  width: 300px;">
                                <label>Phone :</label>
                                <br>
                                <input type="text" class="form-control" >
                            </div>
                            <br>
                        </div>
                        <div class="row" style="  width: 803px; margin-left: 2px; border-radius: 5px; margin-top: 20px;">
                            <button class="btn btn-success" style="height: 50px; width: 100px;">Submit</button>
                        </div>

                    </div>
                </div>
<!--                Setting Account End-->

<!--                Address Begin-->
                <div th:if="${pageAddressesUser}" class="card">
                    <div class="card-body">

                        <div class="row"
                             style="background-color: #f3f2ee; height: 80px; width: 836px; border-radius: 5px; margin-top: -10px;">
                            <p style="font-size: 14pt; margin-top: 26px; margin-left: 30px;">My Addresses</p>
                            <button style="height: 40px; width: 200px; margin-left: 450px; margin-top: 20px;"> + add
                                new address</button>
                        </div>
                        <div class="row"
                             style="margin-top: 5px; background-color: #f3f2ee; width: 836px ;  border-radius: 5px; height: 175px;">
                            <div>
                                <div style="display: flex;">
                                    <h3
                                            style="margin-top: 20px; margin-left: 30px; color:black; font-weight: 600 ; font-size: 1.4rem; line-height: 1.5rem;">
                                        Phạm Hữu Nhân</h3>
                                    <span
                                            style="font-size: 1.8rem; margin-top: 10px; margin-left: 10px; font-weight: 100;">
                                            | </span>
                                    <h3 style="margin-top: 23px; font-size: 1.1rem; margin-left: 10px;">0987654321
                                    </h3>

                                    <a href="" style="color: black; margin-top: 30px; margin-left: 440px;">Edit</a>
                                </div>
                                <p style="margin-top: 10px; margin-left: 30px; font-size: 1rem;">Số 7, Ngõ 193/192/10</p>
                                <p style=" margin-left: 30px; font-size: 1rem; position: relative; top: -15px;">Phường Phú Diễn, quận Bắc Từ Liên, Hà Nội</p>
                                <button style="margin-left: 30px; margin-bottom: 10px; position: relative;top : -15px;" >Default</button>
                            </div>
                        </div>
                        <div class="row"
                             style="margin-top: 5px; background-color: #f3f2ee; width: 836px ;  border-radius: 5px; height: 130px;">
                            <div>
                                <div style="display: flex;">
                                    <h3
                                            style="margin-top: 20px; margin-left: 30px; color:black; font-weight: 600 ; font-size: 1.4rem; line-height: 1.5rem;">
                                        Phạm Hữu Nhân</h3>
                                    <span
                                            style="font-size: 1.8rem; margin-top: 10px; margin-left: 10px; font-weight: 100;">
                                            | </span>
                                    <h3 style="margin-top: 23px; font-size: 1.1rem; margin-left: 10px;">0987654321
                                    </h3>

                                    <a href="" style="color: black; margin-top: 30px; margin-left: 398px;">Edit</a>
                                    <a href="" class="delete" style=" margin-top: 30px; margin-left: 10px; ">Delete</a>
                                </div>
                                <p style="margin-top: 10px; margin-left: 30px; font-size: 1rem;">Số 7, Ngõ 193/192/10</p>
                                <button style="margin-left: 700px; position: relative; top: -40px;"> Set as default</button>
                                <p style=" margin-left: 30px; font-size: 1rem; position: relative; top: -30px; position: relative; top: -40px;">Phường Phú Diễn, quận Bắc Từ Liên, Hà Nội</p>
                            </div>
                        </div>

                    </div>
                </div>
<!--                Address End-->

<!--                Purchase Begin-->
                <div th:if="${pagePurchaseUser}" class="card">
                    <div class="card-body" >

                        <div class="row" style="background-color: #f3f2ee; height: 81px; width: 836px; border-radius: 5px; margin-top: -10px;">
                            <nav class="header__menu mobile-menu" >
                                <ul>
                                    <li th:class="${type1}" style="margin-left: 50px; margin-right: 52px;"><a th:href="@{'/buyer/purchase/all'}" >All</a></li>
                                    <li th:class="${type2}" style="margin-right: 52px;"><a th:href="@{'/buyer/purchase/pay'}" >To Pay</a></li>
                                    <li th:class="${type3}" style="margin-right: 52px;"><a th:href="@{'/buyer/purchase/ship'}">To Ship</a></li>
                                    <li th:class="${type4}" style="margin-right: 52px;"><a th:href="@{'/buyer/purchase/receive'}">To Receive</a></li>
                                    <li th:class="${type5}" style="margin-right: 52px;"><a th:href="@{'/buyer/purchase/completed'}">Completed</a></li>
                                    <li th:class="${type6}" style="margin-right: 52px;"><a th:href="@{'/buyer/purchase/refund'}">Return Refund</a></li>
                                </ul>
                            </nav>
                        </div>

                        <!-- ALL begin -->
                        <div th:if="${purchaseAll}" class="row" style="background-color: #f3f2ee; width: 836px ; height: 50px; border-radius: 5px; margin-top: 10px;margin-bottom: 10px;"
                             <p>Form Search</p>
                        </div>
                        <div th:if="${purchaseAll}" class="row" style="background-color: #f3f2ee; width: 836px ; height: 1000px; border-radius: 5px;">
                            <p>Form All</p>
                        </div>
                        <!-- ALL end -->


                        <!-- to pay begin -->
                        <div th:if="${purchasePay}" class="row" style="margin-top: 10px; background-color: #f3f2ee; width: 836px ; height: 1000px; border-radius: 5px;">
                            <p>Form Pay</p>
                        </div>
                        <!-- to pay end -->


                        <!-- to ship begin -->
                         <div th:if="${purchaseShip}"  class="row" style="margin-top: 10px;background-color: #f3f2ee; width: 836px ; height: 1000px; border-radius: 5px;">
                             <p>Form Ship</p>
                         </div>
                        <!-- to ship end -->


                        <!-- to recceive begin -->
                         <div th:if="${purchaseReceive}" class="row" style="margin-top: 10px;background-color: #f3f2ee; width: 836px ; height: 1000px; border-radius: 5px;">
                             <p>Form Receive</p>
                         </div>
                        <!-- to recceive end -->


                        <!-- to completed begin -->
                         <div th:if="${purchaseCompleted}" class="row" style="margin-top: 10px;background-color: #f3f2ee; width: 836px ; height: 1000px; border-radius: 5px;">
                             <p>Form Completed</p>
                         </div>
                        <!-- to completed end -->


                        <!-- to return refund begin -->
                         <div th:if="${purchaseRefund}"  class="row" style="margin-top: 10px;background-color: #f3f2ee; width: 836px ; height: 1000px; border-radius: 5px;">
                             <p>Form Refund</p>
                         </div>
                        <!-- to return refund end -->

                    </div>
                </div>
<!--                Purchase End-->

<!--                Notification Begin-->
                <div th:if="${pageNotificationUser}" class="card">
                    <div class="card-body">

                        <div class="row" style="background-color: #f3f2ee; height: 80px; width: 836px; border-radius: 5px; margin-top: -10px;">
                        </div>
                        <div class="row"
                             style="margin-top: 5px; background-color: #f3f2ee; width: 836px ;  border-radius: 5px; height: 175px;">
                        </div>

                    </div>
                </div>
<!--                Notification End-->

<!--                Voucher Begin-->
                <div th:if="${pageVoucherUser}" class="card">
                    <div class="card-body">

                        <div class="row" style="background-color: #f3f2ee; height: 80px; width: 836px; border-radius: 5px; margin-top: -10px;">
                        </div>
                        <div class="row"
                             style="margin-top: 5px; background-color: #f3f2ee; width: 836px ;  border-radius: 5px; height: 175px;">
                        </div>

                    </div>
                </div>
<!--                Voucher End-->

<!--                Coins Begin-->
                <div th:if="${pageCoinsUser}" class="card">
                    <div class="card-body">

                        <div class="row" style="background-color: #f3f2ee; height: 80px; width: 836px; border-radius: 5px; margin-top: -10px;">
                        </div>
                        <div class="row"
                             style="margin-top: 5px; background-color: #f3f2ee; width: 836px ;  border-radius: 5px; height: 175px;">
                        </div>

                    </div>
                </div>
<!--                Coins End-->

            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="/images/img/footer-logo.png" alt=""></a>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="#"><img src="/images/img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        2020
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/feather.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/scrollbar.min.js"></script>
<script src="/js/custom-scroll.js"></script>

</body>

</html>