<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords"
          content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
<!--    <meta charset="ISO-8859-1" />-->
<!--    <link rel="stylesheet"-->
<!--          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->

<!--    &lt;!&ndash; Optional theme &ndash;&gt;-->
<!--    <link rel="stylesheet"-->
<!--          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />-->
    <title>Dreams Pos admin template</title>

    <link rel="shortcut icon" type="image/x-icon" href="/images/img/favicon.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/animate.css">

    <link rel="stylesheet" href="/plugins/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/plugins/owlcarousel/owl.theme.default.min.css">

    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/quagga"></script>
</head>

<div id="global-loader">
    <div class="whirly-loader"></div>
</div>
<div class="main-wrapper">
    <div class="header">

        <div class="header-left active">
            <a href="/manage" class="logo">
                <img src="/images/img/logo.png" alt="">
            </a>
            <a href="/manage" class="logo-small">
                <img src="/images/img/logo-small.png" alt="">
            </a>
            <a id="toggle_btn" href="javascript:void(0);">
            </a>
        </div>

        <a id="mobile_btn" class="mobile_btn" href="#sidebar">
<span class="bar-icon">
<span></span>
<span></span>
<span></span>
</span>
        </a>

        <ul class="nav user-menu">

            <li class="nav-item">
                <div class="top-nav-search">
                    <a href="javascript:void(0);" class="responsive-search">
                        <i class="fa fa-search"></i>
                    </a>
                    <form action="#">
                        <div class="searchinputs">
                            <input type="text" placeholder="Search Here ...">
                            <div class="search-addon">
                                <span><img src="/images/img/icons/closes.svg" alt="img"></span>
                            </div>
                        </div>
                        <a class="btn" id="searchdiv"><img src="/images/img/icons/search.svg" alt="img"></a>
                    </form>
                </div>
            </li>


            <li class="nav-item dropdown has-arrow flag-nav">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);" role="button">
                    <img src="/images/img/flags/us1.png" alt="" height="20">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="javascript:void(0);" class="dropdown-item">
                        <img src="/images/img/flags/us.png" alt="" height="16"> English
                    </a>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <img src="/images/img/flags/fr.png" alt="" height="16"> French
                    </a>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <img src="/images/img/flags/es.png" alt="" height="16"> Spanish
                    </a>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <img src="/images/img/flags/de.png" alt="" height="16"> German
                    </a>
                </div>
            </li>


            <li class="nav-item dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                    <img src="/images/img/icons/notification-bing.svg" alt="img"> <span
                        class="badge rounded-pill">4</span>
                </a>
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header">
                        <span class="notification-title">Notifications</span>
                        <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                    </div>
                    <div class="noti-content">
                        <ul class="notification-list">
                            <li class="notification-message">
                                <a href="activities.html">
                                    <div class="media d-flex">
<span class="avatar flex-shrink-0">
<img alt="" src="/images/img/profiles/avatar-02.jpg">
</span>
                                        <div class="media-body flex-grow-1">
                                            <p class="noti-details"><span class="noti-title">John Doe</span> added new
                                                task <span class="noti-title">Patient appointment booking</span></p>
                                            <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="activities.html">
                                    <div class="media d-flex">
<span class="avatar flex-shrink-0">
<img alt="" src="/images/img/profiles/avatar-03.jpg">
</span>
                                        <div class="media-body flex-grow-1">
                                            <p class="noti-details"><span class="noti-title">Tarah Shropshire</span>
                                                changed the task name <span class="noti-title">Appointment booking with payment gateway</span>
                                            </p>
                                            <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="activities.html">
                                    <div class="media d-flex">
<span class="avatar flex-shrink-0">
<img alt="" src="/images/img/profiles/avatar-06.jpg">
</span>
                                        <div class="media-body flex-grow-1">
                                            <p class="noti-details"><span class="noti-title">Misty Tison</span> added
                                                <span class="noti-title">Domenic Houston</span> and <span
                                                        class="noti-title">Claire Mapes</span> to project <span
                                                        class="noti-title">Doctor available module</span></p>
                                            <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="activities.html">
                                    <div class="media d-flex">
<span class="avatar flex-shrink-0">
<img alt="" src="/images/img/profiles/avatar-17.jpg">
</span>
                                        <div class="media-body flex-grow-1">
                                            <p class="noti-details"><span class="noti-title">Rolland Webber</span>
                                                completed task <span class="noti-title">Patient and Doctor video conferencing</span>
                                            </p>
                                            <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="activities.html">
                                    <div class="media d-flex">
<span class="avatar flex-shrink-0">
<img alt="" src="/images/img/profiles/avatar-13.jpg">
</span>
                                        <div class="media-body flex-grow-1">
                                            <p class="noti-details"><span class="noti-title">Bernardo Galaviz</span>
                                                added new task <span class="noti-title">Private chat module</span></p>
                                            <p class="noti-time"><span class="notification-time">2 days ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="activities.html">View all Notifications</a>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown has-arrow main-drop">
                <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
<span class="user-img"><img th:src="@{'/images/imgsNhanVien/'+${session.managerLogged.AnhNV}}" alt="">
<span class="status online"></span></span>
                </a>
                <div class="dropdown-menu menu-drop-user">
                    <div class="profilename">
                        <div class="profileset">
<span class="user-img"><img th:src="@{'/images/imgsNhanVien/'+${session.managerLogged.AnhNV}}" alt="">
<span class="status online"></span></span>
                            <div class="profilesets">
                                <h6 th:text="${session.managerLogged.hoTenNV}"></h6>
                                <h5 th:text="${session.managerLogged.chucVu.tenCV}"></h5>
                            </div>
                        </div>
                        <hr class="m-0">
                        <a class="dropdown-item" href="profile.html"> <i class="me-2" data-feather="user"></i> My
                            Profile</a>
                        <a class="dropdown-item" href="generalsettings.html"><i class="me-2"
                                                                                data-feather="settings"></i>Settings</a>
                        <hr class="m-0">
                        <a class="dropdown-item logout pb-0" href="/logout"><img src="/images/img/icons/log-out.svg"
                                                                                 class="me-2" alt="img">Logout</a>
                    </div>
                </div>
            </li>
        </ul>


        <div class="dropdown mobile-user-menu">
            <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="profile.html">My Profile</a>
                <a class="dropdown-item" href="generalsettings.html">Settings</a>
                <a class="dropdown-item" href="signin.html">Logout</a>
            </div>
        </div>

    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li>
                        <a href="/manage/thongke"><img src="/images/img/icons/dashboard.svg" alt="img"><span> Thống Kê</span>
                        </a>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="/images/img/icons/product.svg" alt="img"><span> Quản lý Giày</span>
                            <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="/manage/chat-lieu">Chất Liệu</a></li>
                            <li><a href="/manage/giay">Giày</a></li>
                            <li><a href="/manage/hang">Hãng</a></li>
                            <li><a href="/manage/hinh-anh">Hình Ảnh</a></li>
                            <li><a href="/manage/mau-sac">Màu Sắc</a></li>
                            <li><a href="/manage/size">Size</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="/images/img/icons/purchase1.svg"
                                                           alt="img"><span> Quản Lý Đặt Hàng</span> <span
                                class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="purchaselist.html">Purchase List</a></li>
                            <li><a href="addpurchase.html">Add Purchase</a></li>
                            <li><a href="importpurchase.html">Import Purchase</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="/images/img/icons/expense1.svg" alt="img"><span> Quản Lý Hóa Đơn</span>
                            <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="expenselist.html">Expense List</a></li>
                            <li><a href="createexpense.html">Add Expense</a></li>
                            <li><a href="expensecategory.html">Expense Category</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="/images/img/icons/users1.svg" alt="img"><span> Quản Lý Khách Hàng</span>
                            <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="/manage/khach-hang">Khách Hàng</a></li>
                            <li><a href="/manage/dia-chi">Địa Chỉ </a></li>
                            <li><a href="/manage/loai-khach-hang">Loại Khách Hàng</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="/images/img/icons/return1.svg" alt="img"><span> Quản Lý Đổi Trả</span>
                            <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="salesreturnlist.html">Sales Return List</a></li>
                            <li><a href="createsalesreturn.html">Add Sales Return </a></li>
                            <li><a href="purchasereturnlist.html">Purchase Return List</a></li>
                            <li><a href="createpurchasereturn.html">Add Purchase Return </a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="/images/img/icons/users1.svg" alt="img"><span> Quản Lý Nhân Viên</span>
                            <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="/manage/chuc-vu">Chức Vụ</a></li>
                            <li><a href="/manage/nhan-vien" class="active">Nhân Viên</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="/images/img/icons/transfer1.svg" alt="img"/><span>Quản lý Khuyến Mãi</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul>
                            <li><a href="/manage/voucher">Khuyến Mãi Chung</a></li>
                            <li><a href="/manage/voucher-product">Khuyến Mãi Sản Phẩm</a></li>
                            <li><a href="/manage/voucher-bill">Khuyến Mãi Hóa Đơn</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div class="page-wrapper">
            <div class="content">
        <div class="row">
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="dash-widget">
                <div class="dash-widgetimg">
                    <span><img src="/images/img/icons/dash1.svg" alt="img"></span>
                </div>
                <div class="dash-widgetcontent">
                    <h5><span class="" th:text="${tdt}"></span></h5>
                    <h6>Tiền gốc tháng</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="dash-widget dash1">
                <div class="dash-widgetimg">
                    <span><img src="/images/img/blog/logo.png" alt="img"></span>
                </div>
                <div class="dash-widgetcontent">
                    <h5><span class="" th:text="${ltn}"></span></h5>
                    <div class="row">
                        <h6 class="col-12">Lãi tháng này</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="dash-widget dash2">
                <div class="dash-widgetimg">
                    <span><img src="/images/img/product/product65.png" alt="img"></span>
                </div>
                <a class="dash-widgetcontent" href="/manage/giay">
                    <h5><span class="counters" th:text="${tonggiay}"></span></h5>
                    <h6>Sản phẩm tồn</h6>
                    <h6></h6>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="dash-widget dash3">
                <div class="dash-widgetimg">
                    <span><img src="/images/img/kh.png" alt="img"></span>
                </div>
                <a href="/manage/khach-hang" class="dash-widgetcontent">
                    <h5><span class="counters" th:text="${tong}"></span></h5>
                    <h6>Khách hàng</h6>
                    <h6></h6>
                </a>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-lg-6 col-sm-6 col-12 d-flex">
            <div class="dash-count">
                <a class="dash-counts" href="javascript:void(0);" data-bs-toggle="modals"
                   data-bs-target="#exampleModal">
                    <h4 style="color: black;" th:text="${ttnh}"></h4>
                    <h5 style="color: black;">Tổng tiền nhập hàng</h5>
                </a>
                <div class="dash-imgs">
                    <i data-feather="dollar-sign"></i>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Doanh thu trong ngày</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">

                                </div>
                            </div>

                        </div>

                        <div class="table-responsive">
                            <table class="table " >
                                <thead>
                                <tr>
                                    <th>Mã hóa đơn</th>
                                    <th>Khách hàng</th>
                                    <th>Ngày nhận</th>
                                    <th>Hình thức</th>
                                    <th>Số Lượng</th>
                                    <th>Đơn giá</th>
                                    <th >Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="items : ${hoaDonCT1}">
                                    <td th:text="${items.hoaDon.idHD}"></td>
                                    <td th:text="${items.hoaDon.tenNguoiNhan}"></td>

                                    <td th:text="${items.hoaDon.tgTao}"></td>
                                    <td >
                                        <span th:if="${items.hoaDon.loaiHD == 1}" class="badges bg-lightpurple"><span><img src="/images/img/icon/cart.png" alt="img"></span>Tại quầy</span>
                                        <span th:if="${items.hoaDon.loaiHD == 0}" class="badges bg-lightgreen"><span><img src="/images/img/icon/xe.png" alt="img"></span>Online</span>
                                    </td>
                                    <td th:text="${items.soLuong}"></td>
                                    <td th:text="${items.donGiaKhiGiam}"></td>


                                    <td>
                                        <a class="me-2" >
                                            <img src="/images/img/icons/eye.svg" alt="img"/>
                                        </a>
                                    </td>


                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-6 col-sm-6 col-12 d-flex">
            <div class="dash-count das2">
                <a class="dash-counts" href="javascript:void(0);" data-bs-toggle="modals"
                   data-bs-target="#create">
                    <h4 th:text="${tlbr}"></h4>
                    <h5>Tổng tiền bán ra</h5>
                </a>
                <div class="dash-imgs">
                    <i data-feather="dollar-sign"></i>
                </div>
            </div>
        </div>
    </div>

<!--        Hóa đơn chờ-->
        <form method="get" th:action="@{/thongke/hoadoncho/filter}">
        <div class="modal fade" id="create" tabindex="-1" aria-labelledby="create" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Doanh thu trong tháng</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <div class="addonset">
                                        <input id="startDate" class="form-control" type="date" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table ">
                                <thead>
                                <tr>
                                    <th>Mã hóa đơn</th>
                                    <th>Khách hàng</th>
                                    <th>Ngày tạo</th>
                                    <th>Hình thức</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th >Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="items: ${hoaDonCT2}">
                                    <td th:text="${items.hoaDon.idHD}"></td>
                                    <td th:text="${items.hoaDon.tenNguoiNhan}"></td>

                                    <td th:text="${items.hoaDon.tgTao}"></td>
                                    <td >
                                        <span th:if="${items.hoaDon.loaiHD == 1}" class="badges bg-lightpurple"><span><img src="/images/img/icon/cart.png" alt="img"></span>Tại quầy</span>
                                        <span th:if="${items.hoaDon.loaiHD == 0}" class="badges bg-lightgreen"><span><img src="/images/img/icon/xe.png" alt="img"></span>Online</span>
                                    </td>
                                    <td th:text="${items.soLuong}"></td>
                                    <td th:text="${items.donGiaKhiGiam}"></td>

                                    <td>
                                        <a class="me-2" href="deltailHoaDon.html">
                                            <img src="/images/img/icons/eye.svg" alt="img"/>
                                        </a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        </form>

        <div class="row">

            <div class="col-lg-7 col-sm-12 col-12 d-flex" style="">
                <div class="card flex-fill">
                    <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                    <h3 align="center">Biểu đồ doanh số bán hàng</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-8  hover" >
                            <div class="header__top__hover" style="color: #1d1d42 ;right: 5px"></div>
                        </div>
                        <div class="col-lg-4 ">
                            <select id = "mySelect" class="form-control " onchange="showCorrespondingValue()">
                                <option selected disabled>Lọc theo</option>
                                <option value="Tháng">Tháng</option>
                                <option value="Năm">Năm</option>
                                <option value="Ngày">Ngày</option>
                            </select>
                        </div>

                    </div>
                    <div id="container" class="card-body">
<!--                         style="width: 550px; height: 400px; margin: 0 auto">-->

                    </div>
                </div>

            </div>
            <div class="col-lg-5 col-sm-12 col-12 d-flex">
                <div class="card flex-fill">
                    <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-0">Sản phẩm bán chạy</h4>
                        <div class="dropdown">
                            <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" class="dropset">
                                <i class="fa fa-ellipsis-v"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a href="productlist.html" class="dropdown-item">Product List</a>
                                </li>
                                <li>
                                    <a href="addproduct.html" class="dropdown-item">Product Add</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive ">
                            <table class="table datanew" id="data-table">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Hình ảnh</th>
                                    <th>Tên sản phẩm</th>

                                    <th>Số lượng đã bán</th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr th:each="a,index : ${spBanChay}">
                                    <td th:text="${index.index+1}"></td>
                                    <td >
                                        <img th:src="@{'/images/imgsProducts/'+ ${a.hinhAnh}}" style="height: 50px;width: 50px">
<!--                                        <small><img src="/images/imgsProducts/product-1.4.png"></small>-->
                                    </td>
                                    <td th:text="${a.tenGiay}"></td>
                                    <td th:text="${a.soLuongDaBan}"></td>


                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
</div>




<script src="/js/jquery-3.6.0.min.js"></script>

<script src="/js/feather.min.js"></script>

<script src="/js/jquery.slimscroll.min.js"></script>

<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>

<script src="/plugins/select2/js/select2.min.js"></script>

<script src="/plugins/owlcarousel/owl.carousel.min.js"></script>

<script src="/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="/plugins/sweetalert/sweetalerts.min.js"></script>

<script src="/plugins/flot/jquery.flot.js"></script>
<script src="/plugins/flot/jquery.flot.fillbetween.js"></script>
<script src="/plugins/flot/jquery.flot.pie.js"></script>
<script src="/plugins/flot/chart-data.js"></script>

<script src="/js/script.js"></script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script th:inline="javascript">
    $(function () {
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Tổng số bán ra'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [[${listThang}]],
                crosshair: true
            },
            yAxis: {
                min: 0,
                max: 100,
                title: {
                    text: 'Số lượng'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.0f} Đôi</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Tháng',
                data: [[${listDoanhSo}]]
            }]
        });
    });

    function showCorrespondingValue() {
    var select = document.getElementById("mySelect");
    var selectedValue = select.value;


    // Kiểm tra nếu giá trị đã thay đổi, thì load lại trang
    switch (selectedValue) {
        case "Tháng":
            $(function () {
                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Tổng số bán ra'
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        categories: [[${listThang}]],
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        max: 100,
                        title: {
                            text: 'Số lượng'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.0f} Đôi</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: 'Tháng',
                        data: [[${listDoanhSo}]]
                    }]
                });
            });
break;

        case "Ngày":
            $(function () {
                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Tổng số bán ra'
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        categories: [[${Ngay}]],
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        max: 40,
                        title: {
                            text: 'Số lượng'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.0f} Đôi</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: 'Ngày',
                        data: [[${listSL}]]
                    }]
                });
            });
            break;

        case "Năm":
            $(function () {
                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Tổng số bán ra'
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        categories: [[${Nam}]],
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        max: 100,
                        title: {
                            text: 'Số lượng'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.0f} Đôi</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: 'Năm',
                        data: [[${listNam}]]
                    }]
                });
            });
            break;
        }



    }
</script>
</body>
</html>